name: CI / Build
on:
  push:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Install dependencies
        uses: jdx/mise-action@v3.5.1
        with:
          install: true
          version: "2025.10.5"

      - name: Build
        run: just build
