name: CI / Lint
on:
  push:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Install dependencies
        uses: jdx/mise-action@v3.4.1
        with:
          install: true
          version: "2025.10.5"

      - name: Lint
        uses: golangci/golangci-lint-action@v9.0.0
        with:
          install-mode: none
