name: CI / Test
on:
  push:
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Install dependencies
        uses: jdx/mise-action@v3.4.0
        with:
          install: true
          version: "2025.10.5"

      - name: Test
        run: go test ./...
